.ui-hover-widget {
  position: fixed;
  z-index: 10000;
  box-sizing: border-box;
  pointer-events: none;
  overflow: hidden;
}

.ui-hover-widget__content {
  max-height: inherit;
  box-sizing: border-box;
  overflow-wrap: break-word;
  overflow: auto;
  white-space: normal;
}

.ui-hover-widget__content:empty {
  display: none;
}
