.import-session-viewlet-host {
  display: flex;
  min-height: 0px;
  flex-direction: column;
  height: 100%;
}

.import-session-viewlet-host-root,
.import-session-viewlet-body,
.import-session-viewlet-session-host {
  display: flex;
  min-height: 0px;
  flex: 1 1 0%;
  flex-direction: column;
}

.import-session-viewlet-body {
  padding: 0.75rem;
}

.import-session-sidebar_part > .workbench_sidebar_header .workbench_sidebar_title {
  font-size: 12px;
  line-height: 1rem;
  color: rgb(var(--text-secondary) / 1);
}
