.template_viewlet_content {
  height: 100%;
  min-height: 0px;
}

.template_viewlet {
  display: flex;
  height: 100%;
  min-height: 0px;
  flex-direction: column;
}

.workbench_layout_shell:not(.workbench_layout_shell--stacked) .template_viewlet--joined_auxiliarybar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  box-shadow: none;
}

.template_auxiliarybar_view_pane {
  min-height: 0;
}

.template_auxiliarybar_view_pane > .workbench-part-view-pane__body {
  min-height: 0;
  overflow: hidden;
}
