.template_pane {
  display: flex;
  height: 100%;
  min-height: 0px;
  flex-direction: column;
}

.template_pane--joined_auxiliarybar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  box-shadow: none;
}

.template_auxiliarybar_view_pane {
  min-height: 0;
}

.template_auxiliarybar_view_pane > .workbench-part-view-pane__body {
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.template_pane--auxiliary {
  flex: 1 1 0%;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
}
