.tab_menu {
  display: flex;
  align-items: center;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: rgb(var(--bg-page) / 1);
}

.tab_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  font-weight: 500;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tab_btn--sm {
  height: 1.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.tab_btn--md {
  height: 38px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tab_btn--active {
  background-color: rgb(var(--bg-surface) / 1);
  color: rgb(var(--text-primary) / 1);
}

.tab_btn--inactive {
  color: rgb(var(--text-secondary) / 1);
}

.tab_btn--inactive:hover {
  color: rgb(var(--text-primary) / 1);
}

.tab_btn_icon {
  display: inline-flex;
}

.tab_btn_text {
  display: inline-flex;
}

.tab_view {
  display: flex;
  min-width: 0;
  min-height: 0;
  height: 100%;
  flex-direction: column;
}

.tab_view_panel {
  display: flex;
  min-width: 0;
  min-height: 0;
  flex: 1 1 0%;
  flex-direction: column;
}

.tab_menu--icon-only .tab_btn {
  gap: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.tab_menu--icon-only .tab_btn_text {
  display: none;
}

.tab_menu--icon-only .tab_btn {
  min-width: 2rem;
}
