.data_preview_area {
  min-height: 0px;
  min-width: 0px;
  flex: 1 1 0%;
}

.data_preview_area:not(.data_preview_area--stacked) .data_preview_area_import_pane > .workbench_sidebar_part {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.data_preview_area:not(.data_preview_area--stacked) .data_preview_area_import_pane + .data_preview_area_table_pane .template_view_pane {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}
