.files-pane {
  display: flex;
  min-height: 0px;
  flex-direction: column;
  height: 100%;
}

.files-pane-root,
.files-pane-body,
.files-pane-explorer-host {
  display: flex;
  min-height: 0px;
  height: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
}
