.avatar {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgb(var(--bg-subtle) / 1);
  color: rgb(var(--text-primary) / 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.group:hover .avatar {
  background-color: rgb(var(--accent) / 0.1);
  color: rgb(var(--accent) / 1);
}

.avatar__content {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.avatar__icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.avatar--empty {
  background-color: rgb(var(--bg-page) / 1);
  color: rgb(var(--text-tertiary) / 1);
  border: 1px solid rgb(var(--border) / 1);
}

.group:hover .avatar--empty {
  background-color: rgb(var(--bg-page) / 1);
  color: rgb(var(--text-tertiary) / 1);
}

.avatar--image {
  background-color: transparent;
  border: 0;
}
