.ui-grid-view {
  display: grid;
  height: 100%;
  min-height: 0px;
  width: 100%;
  min-width: 0px;
}

.ui-grid-view[data-orientation="horizontal"] {
  grid-auto-flow: column;
}

.ui-grid-view[data-orientation="vertical"] {
  grid-auto-flow: row;
}

.ui-grid-view__item {
  position: relative;
  min-height: 0px;
  min-width: 0px;
  overflow: hidden;
}

.ui-grid-view[data-orientation="horizontal"] .ui-grid-view__item {
  height: 100%;
}

.ui-grid-view[data-orientation="vertical"] .ui-grid-view__item {
  width: 100%;
}
