:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

body {
  @apply bg-bg-page text-text-primary antialiased;
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  outline: none;
}

*:focus:not(:focus-visible) {
  outline: none !important;
}
