.ui-cogicon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: currentColor;
  line-height: 0;
}

.ui-cogicon > svg {
  display: block;
  width: 100%;
  height: 100%;
}
